<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        #chat {
            width: 80%;
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            height:calc(100vh-80px); 
        }
        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;;
        }
        #chat-form {
            background: rgba(42, 41, 41, 0.15);
            padding: 5rem;
            position: relative;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            backdrop-filter: blur(10px);
        }
        #chat-form > button {
            background: #349cbc;
            border: none;
            padding: 0.3rem 1rem;
            border-radius: 3px;
            outline: none;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            
        }
        #chat-form > button:hover {
            background: #298a9b;
        }
        #message,#receiver {
            border: none;
            padding: 0.5rem;
            /* flex-grow: 1; */
            border-radius: 2rem;
            margin: 1rem;
            font-size: 16px;
        }
        #message:focus, #receiver:focus {
            outline: none;
        }
        #messages {
            list-style-type: none;
            padding: 0;
            margin: 0;
            /* flex-grow: 1; */
            overflow-y: auto;
            border-top: 1px solid #ddd;
            padding-top: 10px;
        }
        #messages>li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            background-color: #f9f9f9;
        }
        #messages >li:nth-child(odd) {
            background-color: #e9e9e9;
        }
    </style>
</head>
<body>
    <div id="chat">
        <h2>Chat</h2>
        <form id="chat-form">
            <input id="receiver" placeholder="Enter receiver username" required>
            <input id="message" placeholder="Type a message" required>
            <button type="submit">Send</button>
        </form>
        <ul id="messages"></ul>
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script>
        const socket=io();

        const chatForm=document.getElementById('chat-form');
        const messageInput=document.getElementById('message');
        const receiverInput = document.getElementById('receiver');
        const messagesList=document.getElementById('messages');

        const token=localStorage.getItem(`token`);
        console.log(token);
        if(!token){
            console.log('You are not authorized user');
        }

        chatForm.addEventListener('submit',(event)=>{
            event.preventDefault();
            const message=messageInput.value.trim();
            const receiver = receiverInput.value.trim();

            if(token && message && receiver){
                socket.emit('private message',{ 
                    receiver,
                    message,
                    token
                })
                messageInput.value='';
            }
        })
        socket.on('private message',({sender,message,timestamp})=>{
            const item=document.createElement('li');
            item.textContent=`${sender}: ${message} (${timestamp})`;
            messagesList.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });
        socket.on('error', (error) => {
            console.error('Error:', error);
        });
    </script>
</body>
</html>